*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-yellow);
  margin: 0;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.65625rem 0rem 13.71875rem 0rem;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

.wrapper {
  width: min(100% - 2rem);
  max-width: 24rem;
  margin-inline: auto;
}