@use "../global/layout" as v;

.main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  box-shadow: .5rem .5rem 0rem 0rem var(--color-black);

  @include v.mobile {
    width: 20.4375rem;
  }
}

// .image__illustration {
//   border-radius: 0.625rem;
// }

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.content__category {
  border-radius: 0.25rem;
  background-color: var(--color-yellow);
  padding: 0.25rem 0.75rem;
}

.content__learning {
  text-align: center;
  font-weight: 800;
}

.content__publishedDate {
  font-weight: 500;
}

.content__title:hover {
  color: var(--color-yellow);
}

.content__description {
  color: var(--color-grey);
  font-weight: 500;

  @include v.mobile {
    font-size: 0.875rem;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author__name {
  font-weight: 800;
}